<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  </section>
  
  <section class="content">
  
    <div class="jumbotrondif welcome-jumbotron">
       <h3>Volumes x Vazão</h3>
       <div>
          <p-calendar class="ppcal" [(ngModel)]="date6" (onSelect)="pesquisar(date6)" [monthNavigator]="true" dateFormat="dd/mm/yy" 
          [yearNavigator]="true" yearRange="2008:2041" [showIcon]="true" placeholder="Data" ></p-calendar>
          
       </div> 
       <br> 
         
       
       <!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->

       <div class="grid-containert"  >
        <div class="grid-item">
            <p-fieldset  legend="Volume" [toggleable]="true">
                <div class="ui-g-12">Orçado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' m³', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30" pInputText disabled="disabled" [(ngModel)]="orcvolume" /> <!--readonly="readonly"-->
                </div>
                <div class="ui-g-12">Realizado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' m³', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30"    [(ngModel)]="realivolume"  />
                </div>
                <div class="ui-g-12">Comentário</div>
                <textarea id= "com" [rows]="5" [cols]="45" pInputTextarea autoResize="autoResize" 
              style="text-align: center; background: white !important;" [(ngModel)]="comentvolume"> </textarea>
            </p-fieldset>
        </div>
        
        <div class="grid-item">
            <p-fieldset legend="Vazão" [toggleable]="true">
                <div class="ui-g-12">Orçado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' l/s', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30" pInputText disabled="disabled" [(ngModel)]="orcvazao" /> <!--readonly="readonly"-->
                </div>
                <div class="ui-g-12">Realizado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' l/s', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30"  [(ngModel)]="realivazao"  />
                </div>
                <div class="ui-g-12">Comentário</div>
                <textarea id= "com" [rows]="5" [cols]="45" pInputTextarea autoResize="autoResize" 
              style="text-align: center; background: white !important;" [(ngModel)]="comentvazao"> </textarea>
            </p-fieldset>
        </div>
       </div>

      <div Style="padding-top: 10px !important;">
          <p-button icon="pi pi-check" label="Enviar" 
          (click)="enviar(orcvolume, orcvazao, realivolume, realivazao, comentvolume, comentvazao, forecastvolume, forecastvazao)"></p-button>
     </div>

    </div>
  <!--</form>-->
  
  </section>
  <!-- FIM DO CONTEÚDO -->
