<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  </section>
  
  <section class="content">
  
    <div class="jumbotrondif welcome-jumbotron">
       <h3>Energia ETEs</h3>
       <div class="grid-containert"  >
          <div class="grid-item">
              <p-calendar class="ppcal" [(ngModel)]="date6" (onSelect)="pesquisar(date6)" [monthNavigator]="true" dateFormat="dd/mm/yy" 
              [yearNavigator]="true" yearRange="2008:2041" [showIcon]="true" placeholder="Data" ></p-calendar>
          </div>  
          <div class="grid-item">
              <p-dropdown [options]="items"   filter="true" (onHide)="pesquisar(date6)"
              [(ngModel)]="item" placeholder="Selecione a ETE" ></p-dropdown> 
          </div> 
       </div>
       
       <p-toast [style]="{marginTop: '80px'}"></p-toast>

       <div class="grid-containert"  >
        <div class="grid-item">
            <p-fieldset  legend="Energia Kwh" [toggleable]="true">
                <div class="ui-g-12">Orçado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' kWh', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30" pInputText disabled="disabled" [(ngModel)]="orcconsumo" /> <!--readonly="readonly"-->
                </div>
                <div class="ui-g-12">Realizado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: '', suffix:' kWh', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30"  [(ngModel)]="realiconsumo"  />
                </div>
                <div class="ui-g-12">Comentário</div>
                <textarea id= "com" [rows]="5" [cols]="45" pInputTextarea autoResize="autoResize" 
              style="text-align: center; background: white !important;" [(ngModel)]="comentconsumo"> </textarea>
            </p-fieldset>
        </div>
        
        <div class="grid-item">
            <p-fieldset legend="Energia Custo" [toggleable]="true">
                <div class="ui-g-12">Orçado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30" pInputText disabled="disabled" [(ngModel)]="orccusto" /> <!--readonly="readonly"-->
                </div>
                <div class="ui-g-12">Realizado</div>
                <div class="ui-g-12">
                    <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
                    currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center', precision: 2 }" 
                    size="30"  [(ngModel)]="realicusto"  />
                </div>
                <div class="ui-g-12">Comentário</div>
                <textarea id= "com" [rows]="5" [cols]="45" pInputTextarea autoResize="autoResize" 
              style="text-align: center; background: white !important;" [(ngModel)]="comentcusto"> </textarea>
            </p-fieldset>
        </div>
       </div>

      <div Style="padding-top: 10px !important;">
          <p-button icon="pi pi-check" label="Enviar" 
          (click)="enviar(orcconsumo, orccusto, realiconsumo, realicusto, comentconsumo, comentcusto, forecastconsumo, forecastcusto)"></p-button>
     </div>

    </div>
  <!--</form>-->
  
  </section>
  <!-- FIM DO CONTEÚDO -->
