<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  </section>
  
  <section class="content">
  
    <div class="jumbotron welcome-jumbotron">
        <h3>% Cumprimento de prazo (Serv. Regulados)</h3>
        <p-calendar class="ppcal" [(ngModel)]="date6" (onSelect)="pesquisar(date6)" [monthNavigator]="true" dateFormat="dd/mm/yy" 
           [yearNavigator]="true" yearRange="2008:2041" [showIcon]="true" placeholder="Data" ></p-calendar>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
 
        <div class="grid-containert"  >
         <div class="grid-item">
           <h6>Serviços Pendentes</h6>
         </div>
         
         <div class="grid-item">
             <h6>Serviços Executados</h6>
         </div>
         
 
       </div>
         <div class="grid-container2"  >
        <div class="grid-item">
             <h6>Dentro:</h6>
         </div>
         <div class="grid-item" >
          <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
          currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'center' , precision: 2 , suffix: ' %'}" 
          id="dentropend" type="text" size="30" [(ngModel)]="pdd" style="background: white !important;" />
         </div>
         <div class="grid-item">
             <h6>Dentro:</h6>
         </div>
         <div class="grid-item" >
          <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
          currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'center' , precision: 2 , suffix: ' %'}" 
          id="dentroexec" type="text" size="30" [(ngModel)]="realizado" style="background: white !important;" />
         </div>
         <div class="grid-item">
             <h6>Fora:</h6>
         </div>
         <div class="grid-item">
          <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
          currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'center' , precision: 2 , suffix: ' %'}" 
          id="fora" type="text" size="30" [(ngModel)]="forecast" style="background: white !important;" />
         </div>
         <div class="grid-item">
             <h6>Meta:</h6>
         </div>
         <div class="grid-item">
          <input class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched" 
          currencyMask [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'center' , precision: 2 , suffix: ' %'}" 
          id="meta" type="text" size="30" [(ngModel)]="orcado" style="background: white !important;" />
         </div>
       </div>
       <h6>Comentários</h6>
 
       <div class="grid-containerc"  >
           <div class="grid-item">
               <textarea id= "com" [rows]="5" [cols]="95" pInputTextarea autoResize="autoResize" 
               style="text-align: center; background: white !important;" [(ngModel)]="coment"> </textarea>
           </div>
 
       </div>
 
       <div Style="padding-top: 10px !important;">
           <p-button icon="pi pi-check" label="Enviar" 
           (click)="enviar(pdd , realizado, forecast, orcado, coment)"></p-button>
      </div>
 
     </div>


      
  <!--</form>-->
  
  </section>
  <!-- FIM DO CONTEÚDO -->
