<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<p-menubar [model]="items" class="menuPerson"  >
    <img id="logo" style="align-content: left !important;" src="assets/images/prolagos.png"/>
    <i class="glyphicon glyphicon-search"></i>
        
  <input type="text" pInputText placeholder="Procurar" style="text-align:left !important">
  <button pButton label="Sair" icon="fa fa-sign-out"></button>
</p-menubar>
        